.case-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; /* Adjust gap between cases as needed */
  width: 100%; /* Full width container */
  background: #1f2937;
  margin: 0;
  padding: 2rem;
}

.case-card {
  background: white;
  border-radius: 15px;
  position: relative;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
}

.case-card:hover {
  transform: scale(1.05);
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #1f2937;
  text-align: center;
  grid-column: 1 / -1;
}

.header-icon {
  width: 32px;
  height: 32px;
  color: #34d399;
}

.list-header h1 {
  font-size: 2rem;
  color: #34d399;
}

.case-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.case-title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.case-title h2 {
  font-size: 1.25rem;
  color: #1a1a1a;
  margin: 0;
}

.status-dot {
  width: 12px;
  height: 12px;
}

.status-dot.red {
  color: #ef4444;
}

.status-dot.yellow {
  color: #eab308;
}

.status-dot.green {
  color: #22c55e;
}

.case-date {
  font-size: 0.9rem;
  color: #1a1a1a;
}

.case-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.case-content p {
  margin: 0;
  color: #666;
  line-height: 1.6;
}

.case-status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.find-aid-btn {
  background-color: #3b82f6;
  color: white;
  padding: 0.75rem;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size:medium;
  margin-top: auto;
  text-align: center;
  width: 100%;
  bottom: 1rem;
  left: 50%;
  transition: background-color 0.3s ease;
}

.find-aid-btn:hover {
  background-color: #2563eb;
}

.status-text {
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.status-text.red {
  color: #ef4444;
  background-color: #fee2e2;
}

.status-text.yellow {
  color: #854d0e;
  background-color: #fef3c7;
}

.status-text.green {
  color: #166534;
  background-color: #dcfce7;
}