.dashboard {
  position: relative;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.dashboardHeader {
  display: flex;
  justify-content: center; /* Center the header */
  align-items: center;
  margin-bottom: 20px;
  position: relative; /* Position relative to contain the notification icon */
}

.dashboardHeader h1 {
  color: #34d399;
}

.notifications {
  position: absolute;
  right: 0; /* Position the notification icons to the right */
  display: flex;
  gap: 15px;
}

.notificationIcon {
  color: #34d399;
  text-decoration: none;
}

.dashboardSections {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center; /* Center the sections */
}

.dashboardSection {
  flex: 1 1 30%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #111827;
  transition: transform 0.3s;
}

.dashboardSection:hover {
  transform: scale(1.05);
}

.dashboardSection h2 {
  color: #34d399;
}

.dashboardLink {
  display: block;
  margin-top: 10px;
  color: #34d399;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}