#header {
    background-color: #111827;
    color: #f3f4f6;
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); */
    width: 100%;
    top: 0;
  }
  
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style for the logo image */
  .logo-image {
    width: 40px;        /* Adjust the size as needed */
    height: auto;
    margin-right: 10px; /* Space between the logo and text */
  }

  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: #34d399;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: -0.025em;
    transition: color 0.3s ease;
  }
  
  .logo-link:hover {
    color: #6ee7b7;
  }
  
  .logo-icon {
    width: 2rem;
    height: 2rem;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    background: #111827;
  }
  
  .nav-list {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    position: relative;
    display: block;
    padding: 0.41rem;
    border-radius: 0.5rem;
    color: #b9bdc4;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 0;
    background-color: #34d399;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  